:root {
  --black: #000;
  --white: #fff;
  --gray: rgb(189, 189, 189);
  --dark-blue: rgb(78, 150, 209);
  --blue: rgb(43, 58, 124);

  --main-padding: 20px;
  --height-padding: 50px;
  --container-padding: 120px;
}

<<<<<<< HEAD
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/nunito-light.woff2") format("woff2"),
    url("../fonts/nunito-light.woff") format("woff");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/nunito-semibold.woff2") format("woff2"),
    url("../fonts/nunito-semibold.woff") format("woff");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/nunito-bold.woff2") format("woff2"),
    url("../fonts/nunito-bold.woff") format("woff");
}


body {
  background-color: rgb(255, 255, 255);
  font-family: "Nunito", sans-serif;
  font-weight: 300;
=======
body {
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 51%, rgba(255,255,255,1) 100%);
  font-family: "Arial", sans-serif;
>>>>>>> 8191199a9410567a4a75f55bc2a59e6ea023846e
  font-size: 16px;
  background-color: --white;
  color: --black;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.overflow-hidden {
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


.header {
  text-align: center;
<<<<<<< HEAD
  padding: var(--main-padding) var(--container-padding);
  padding-bottom: 0;
=======
  padding: var(--main-padding) calc(20% -  var(--container-padding));
>>>>>>> 8191199a9410567a4a75f55bc2a59e6ea023846e
  font-size: 2rem;
}

.header h1 {
  text-transform: uppercase;
  border-bottom: 1px solid var(--blue);
  padding-bottom: var(--main-padding);
<<<<<<< HEAD
  margin: 0;
  border-radius: 40px;
  font-family: "Nunito", "Arial", sans-serif;
  font-weight: 600;
}

.viewer {
  padding: var(--height-padding) calc(50% - 460px);
=======
  border-radius: 40px;
}

.viewer {
  padding: var(--height-padding) var(--container-padding);
>>>>>>> 8191199a9410567a4a75f55bc2a59e6ea023846e
}

.viewer h2 {
  padding: 0;
  margin: 0;
  margin-bottom: var(--main-padding);
}

.viewer__wrapper {
  padding: var(--height-padding);
  border: 1px solid var(--gray);
  border-radius: 10px;
}

.viewer ul {
  list-style: none;
  margin: 0;
<<<<<<< HEAD
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
=======
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

>>>>>>> 8191199a9410567a4a75f55bc2a59e6ea023846e
}

.viewer li {
  display: flex;
<<<<<<< HEAD
  flex-wrap: wrap;
  justify-content: center;
=======
  flex-basis: 28vw;
  justify-content: space-between;
>>>>>>> 8191199a9410567a4a75f55bc2a59e6ea023846e
  align-items: center;
  margin-bottom: var(--height-padding);
}

.viewer label {
  font-size: 20px;
<<<<<<< HEAD
  margin-right: var(--main-padding);
}

.viewer input {
  padding: 10px;
  border: 1px solid var(--blue);
  border-radius: 5px;
  outline: none;
}

.viewer input:placeholder {
  color: var(--black);
  opacity: 0.7;
=======
>>>>>>> 8191199a9410567a4a75f55bc2a59e6ea023846e
}

.viewer__button-wrapper {
  padding: var(--main-padding) 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.viewer button {
  cursor: pointer;
  padding: var(--main-padding);
  background-color: var(--blue);
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 10px;
}
<<<<<<< HEAD

.viewer button:hover,
.viewer button:focus {
  opacity: 0.8;
}
=======
>>>>>>> 8191199a9410567a4a75f55bc2a59e6ea023846e
